---
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import { storyblokEditable } from '@storyblok/astro';
const { blok } = Astro.props;
---

<section class="banner" {...storyblokEditable(blok)}>
	<h2>{blok.headline}</h2>
	{
		blok.buttons && blok.buttons.length > 0 && (
			<div class="button-container">
				{blok.buttons?.map((button) => {
					return <StoryblokComponent blok={button} />;
				})}
			</div>
		)
	}
</section>
