---
import { storyblokEditable } from '@storyblok/astro';

const { currentLanguage, blok } = Astro.props;

let url;
//console.log('blok.link', blok.link);
if (blok.link.linktype === 'story') {
	let slug = blok.link?.story?.full_slug;
	// only remove us/ as the eu/ slug should actually remain intact
	if (slug.startsWith('us/')) {
		slug = slug.slice(3);
		//console.log('us/ removed from slug');
	}
	//console.log('slug', slug);
	url = currentLanguage ? `/${currentLanguage}/` : '/';
	if (slug === 'home') {
		url += '';
	} else if (slug === 'eu/home') {
		url += 'eu';
	} else {
		url += slug;
	}
} else if (blok.link.linktype === 'url') {
	url = blok.link?.url;
}
//console.log('url', url);
---

<a href={url} class="button" {...storyblokEditable(blok)}>
	{blok.label}
</a>
