---
import { storyblokEditable } from '@storyblok/astro';

const { currentLanguage, blok } = Astro.props;

let url;
if (blok.link.linktype === 'story') {
	url =
		(currentLanguage ? `/${currentLanguage}/` : '') +
		'/' +
		(blok.link?.story?.full_slug === 'home' ? '' : blok.link?.story?.full_slug);
} else if (blok.link.linktype === 'url') {
	url = blok.link?.url;
}
---

<a href={url} class="button" {...storyblokEditable(blok)}>
	{blok.label}
</a>
