---
import { getLanguageCodes, getI18nStorySlug } from '../utils/i18n';
const { currentLanguage, story } = Astro.props;
const languages = await getLanguageCodes();
---

<header>
	<label id="language-switcher">Choose a language:</label>
	<details aria-labelledby="language-switcher">
		<summary>{currentLanguage || 'en'}</summary>
		<ul>
			<li>
				<a
					href={`/${story.default_full_slug}`}
					class={!currentLanguage ? 'active' : ''}>en</a
				>
			</li>
			{
				languages.map((lang) => (
					<li>
						<a
							href={`/${lang}/${getI18nStorySlug(lang, story)}`}
							class={lang === currentLanguage ? 'active' : ''}
						>
							{lang}
						</a>
					</li>
				))
			}
		</ul>
	</details>
</header>
